* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #04204d;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.row-padding {
    padding: 80px 0px;
}

li {
    list-style: none;
}

h1,
h3,
h4,
h5,
h6 {}

p {
    margin: 25px 0px;
}

p:last-child {
    margin-bottom: 0px;
}

img {
    max-width: 100%;
    width: auto;
}

p,
span {
    font-size: 15px;
}

.header-area {
    padding: 6px 0px;
}

.off-white-bg {
    background: #f2f6ff;
}

.btn-secondary {
    background: #ebebeb;
    color: #3282f3;
}

.btn-primary {
    background: #3282f3;
    color: #dfe8ff;
}

.btn-primary,
.btn-secondary {
    margin: 0px 15px 0px 0px;
}

.btn {
    padding: 10px 14px;
    border-radius: 50px;
    display: inline-block;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.main-menu ul li a {
    margin: 0px 15px;
    color: black;
    font-weight: 500;
}

.hero-text p:last-child {
    font-weight: 600;
    margin-top: 80px;
}

.main-menu ul li a:hover {
    color: #3282f3;
    transition: 0.3s;
}

.logo span {
    background: #5bc6bd;
    padding: 10px 14px;
    border-radius: 0px 50px 50px 50px;
    color: black;
}


/*.logo {
    max-width: 30%;
}

.main-menu {
    max-width: 50%;
}

.hero-btns {
    max-width: 20%;
}*/


/*Hero Area Start Style*/

.hero-area {
    background-color: ;
}

.w-half {
    width: 50%;
}

.hero-text h2 {
    font-size: 60px;
}

.hero-text {
    padding-right: 50px;
}

.hero-text p {
    font-size: 17px;
    line-height: 26px;
}

.hero-text a {
    font-size: 20px;
    padding: 10px 20px;
}

.sponsor-area p {
    font-size: 20px;
    font-weight: 600;
    min-width: 320px;
}

.single-box img {
    width: 150px;
    margin-left: 40px;
}

.cta-block h2 {
    font-size: 48px;
}

.newsletter {
    background-color: #061f4b;
}

.newsletter h2 {
    width: 800px;
    font-size: 43px;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

.newsletter p {
    color: white;
    font-weight: 600;
}

input[type="form"] {
    padding: 14px 50px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    outline: none;
    text-align: left;
}

.newsletter-text a {
    margin-left: 30px;
    padding: 14px 50px;
    border-radius: 50px;
    display: inline-block;
}

.about-us {
    width: 250px;
}

.single-quick-link {
    padding-left: 20px;
}

.single-quick-link ul li {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
}

.about-us p {
    line-height: 2;
}

.about-us i {
    font-size: 20px;
    margin-right: 15px;
}

.footer {
    padding: 40px 0px;
}